.add-element-btn {
    cursor: pointer;
    text-align: center;
    transition: 0.4s;
    font-size: 1.5em;
}

.add-element-btn:hover {
    animation: spin 2s;
    font-size: 1.6em;
}

.add-element-btn:active {
    font-size: 1.7em;
}

@-webkit-keyframes spin {
    100% {
        -webkit-transform: rotate(180deg);
    }
}

